html {
	font-size: 16px;
}

body {
	padding: 0;
	margin: auto;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: lightgray;
}

.main {
	display: flex;
	flex-direction: column;
	padding: 5%;
}

.footer {
	display: flex;
	flex-direction: row;
	position: fixed;
	height: 6.25rem;
	width: 100%;
	background-color: lightgray;
	bottom: 0;
}

#status {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	height: 15%;
	border-radius: 0.25rem;
	background-color: #ebe1c6;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(253, 253, 253, 0.24), 0 0.25rem 0.5rem 0 rgba(8, 8, 8, 0.24);
}

#status h2 {
	font-size: 1.2rem;
	margin: 0;
}

#status .status-elements {
	display: flex;
}

#table {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1.25rem;
	height: 50%;
	border-radius: 0.25rem;
	background-color: #f8f8f8;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(253, 253, 253, 0.24), 0 0.25rem 0.5rem 0 rgba(8, 8, 8, 0.24);
}

.card {
	background-image: '../img/bergens-tidende.svg';
}

.options {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}
